<h2>Here are the foods you've eaten:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- Helper method 'sortable' found in helpers/application_helper -->
      <th class="name-column"><%= sortable "Name" %></th>
      <th class="calories-column"><%= sortable "Calories" %></th>
    </tr>
  </thead>

  <% for food in @foods %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.calories %></td>
    </tr>
  <% end %>

</table>

<%= will_paginate @foods, remote: true %>

<!-- Use AJAX for pagination. This runs the below script
every time this partial is rendered; it adds a 'remote' attribute
with a value of 'true' on the will_paginate liks, necessary because you cannot easily assign 'remote="true"' to will_paginate links unless through JavaScript.
http://codebeerstartups.com/2012/11/pagination-with-ajax-using-will-paginate-in-ruby-on-rails/ -->
<script>
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });
</script>
