<h2> Here are the calories for your list of foods </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- Helper method 'sortable' found in helpers/application_helper -->
      <th class="name-column"><%= sortable "Name" %></th>
      <th class="calories-column"><%= sortable "Calories" %></th>
    </tr>
  </thead>

  <% for food in @foods %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.calories %></td>
    </tr>
  <% end %>

</table>

<%= will_paginate @foods, remote: true %>
