<!-- temptorary styling until body gets padding-top -->
<style>
  body {
    padding-top: 100px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= simple_form_for [@user, @new_food] do |f| %>
        <%= f.input :name %>
        <%= f.input :calories %>
        <%= f.button :submit %>
      <% end %>
      <div id="foods-wrapper">
        <%= render "foods_table" %>
      </div>
    </div>
  </div>
</div>
