<!DOCTYPE html>
<html>
<head>
  <title>Fit Journal</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <style><%= yield :custom_styles %> </style>
</head>
<body>

<%= render "layouts/menu"%>


      <%= yield %>


</body>
</html>
